<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="favicon" rel="shortcut icon" href="/favicon.ico"/>
  <title>登录</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/_flash.css">
  <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
<div class="container">
  <%- include("../components/_flash") %>

  <div class="center">
    <div class="content">
      <form method="post" action="" enctype="multipart/form-data">
        <div class="field">
          <label for="username">用户名</label>
          <input required id="username" type="text" name="username" placeholder="4-16位">
        </div>
        <div class="field">
          <label for="password">密码</label>
          <input required id="password" type="password" name="password">
        </div>

        <div class="field submit">
          <input class="btn" type="submit" value="登录">
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/_flash.js"></script>
</body>
</html>
