<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="favicon" rel="shortcut icon" href="favicon.ico"/>
    <title>blog - signup</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
<div class="container">
    <div class="">
        <div class="">
            <form method="post" action="" enctype="multipart/form-data">
                <div class="field">
                    <label for="username">用户名</label>
                    <input id="username" type="text" name="username" placeholder="4-16位">
                </div>
                <div class="field">
                    <label for="password">密码</label>
                    <input id="password" type="password" name="password">
                </div>

                <div>
                    <input type="submit" value="登入">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
