<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="favicon" rel="shortcut icon" href="/favicon.ico"/>
  <title>登入</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/flash.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/navigator.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
<%- include("../components/flash") %>
<%- include("../components/navigator") %>

<div class="container">
  <div class="page-content">
    <div class="auth">
      <form class="primary-form" method="post" action="" enctype="multipart/form-data">
        <label for="username">用户名</label>
        <input id="username" type="text" name="username" maxlength="255" required>

        <label for="password">密码</label>
        <input id="password" type="password" name="password" maxlength="255" required>

        <input id="submit" type="submit" value="登入">
      </form>
    </div>
  </div>
</div>

<%- include("../components/footer") %>

<script src="/js/flash.js"></script>
<script src="/js/navigator.js"></script>
</body>
</html>
