# 本地测试的话，需要在 /etc/hosts 加一行: 127.0.0.1       blog.example.com
# 这样就可以浏览器访问 blog.example.com:8080/posts/ 看到效果了

blog.example.com:8080 {
  proxy / localhost:3000
  gzip
  tls off
  basicauth /auth/signup "owner" "helloworld"
  log logs/access.log
}
