<% if (messages) { %>
    <div class="flash-container">
        <% if (messages.info) { %>
            <div class="flash-content flash-info">
                <span><%= messages.info %></span>
                <span id="close" class="close">&times;</span>
            </div>
        <% } %>

        <% if (messages.error) { %>
            <div class="flash-content flash-error">
                <span><%= messages.error %></span>
                <span id="close" class="flash-close">&times;</span>
            </div>
        <% } %>
    </div>
<% } %>
