<div id="comments" class="comments-container">
  <h2>评论列表</h2>

  <ol class="comments">
    <% comments.forEach(function (comment) { %>
      <li class="comment">
        <div class="comment-meta">
          <div>
            <img src="<%- comment.gravatar %>" alt="头像">
          </div>
          <div>
            <div class="comment-author"><%- comment.author %></div>
            <div class="comment-timestamp"><%- comment.timestamp %></div>
          </div>
        </div>
        <div class="comment-body markdown-body"><%- comment.htmlBody %></div>
      </li>
    <% }) %>
  </ol>
</div>
