<div id="navigator-loader" class="navigator-loader"></div>
<nav id="top" class="navigator">
  <div class="navigator-left">
    <a href="/">Renaissance</a>
    <a href="/about">About</a>
    <a href="https://github.com/ltoddy" target="_blank">Github</a>
    <a href="https://twitter.com/ltoddygen" target="_blank">Twitter</a>
    <a href="https://ltoddy.github.io" target="_blank">旧blog</a>
  </div>

  <div class="navigator-right">
    <% if (user) { %>
      <a href="/posts/create">创建文章</a>
      <a href="/auth/profile">Profile</a>
      <a href="/auth/signout">登出</a>
    <% } else { %>
      <a href="/auth/signin">登入</a>
      <a href="/auth/signup">注册</a>
    <% } %>
  </div>
</nav>
