<div id="top" class="navigator">
  <div id="navigator-loader" class="navigator-loader"></div>
  <a class="navigator-icon" href="/">
    <img src="/images/me.jpg" alt="logo">
  </a>

  <h3 id="navigator-subtitle" class="navigator-subtitle"><%- post.title %></h3>
</div>
