<div id="navigator-loader" class="navigator-loader"></div>
<div id="top" class="navigator">
  <span class="navigator-left">
    <a href="/">首页</a>
    <a href="/posts/">全部文章</a>
  </span>

  <span id="navigator-subtitle" class="navigator-subtitle">
    <% if (post) { %>
      <%- post.title %>
    <% } else { %>
      Welcome
    <% } %>
  </span>

  <span class="navigator-right">
    <% if (user) { %>
      <a href="/posts/create">创建文章</a>
      <a href="/auth/signout">登出</a>
    <% } else { %>
        <a href="/auth/signin">登入</a>
        <a href="/auth/signup">注册</a>
    <% } %>
  </span>
</div>
