<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="favicon" rel="shortcut icon" href="favicon.ico"/>
    <title>blog</title>
    <link rel="stylesheet" href="css/global.css">
</head>
<body>
<div class="container">
    <h1>Page Not Found</h1>
</div>
</body>
</html>
