<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="favicon" rel="shortcut icon" href="/favicon.ico"/>
  <title>发表文章</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/navigator.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<%- include("components/navigator") %>

<div class="container">
  <div class="page-content">
    <div class="common">
      <h1>正在建设中</h1>
    </div>
  </div>
</div>

<%- include("components/footer") %>

</body>
</html>
