<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="favicon" rel="shortcut icon" href="favicon.ico"/>
  <title>我的blog</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/_flash.css">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<%- include("./components/_flash") %>

<div id="container" class="container">
  <div id="dropdown" class="dropdown">
    <ul id="dropdown-menu" class="dropdown-menu">
      <li><a href="/about">关于我</a></li>
      <li><a href="/posts/">文章</a></li>
      <li><a href="https://ltoddy.github.io/resume" target="_blank">简历</a></li>
      <li><a href="/faq">Q&A</a></li>
    </ul>

    <p class="power-by">© 2019 ltoddy. Powered by https://github.com/ltoddy/blog</p>
  </div>

  <div class="page-0">
    <div class="header">
      <div class="me">
        <a class="me" href="/">ltoddy</a>
      </div>
      <div id="menu" class="menu">menu</div>
    </div>
  </div>

</div>

<script src="/js/_flash.js"></script>
<script src="/js/home.js"></script>
</body>
</html>
