<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="favicon" rel="shortcut icon" href="favicon.ico"/>
    <title>blog</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
<div class="container">
    <div class="page">
        <div class="sidebar">
            <div class="logo">
                <img src="images/me.jpg" alt="me">
            </div>
            <h1 class="username">ltoddy</h1>
            <p class="description">
                &nbsp;&nbsp;&nbsp;&nbsp;A multilingual developer, use Python, Rust, JavaScript in life, and use Rust,
                TypeScript in work. I hate Java! Don't mention it.
            </p>
            <ul class="links">
                <hr class="divider">
                <li><a href="https://github.com/ltoddy">Github</a></li>
                <hr class="divider">
                <li><a href="https://twitter.com/ltoddygen">Twitter</a></li>
                <hr class="divider">
            </ul>

            <div class="email">email: taoliu0509@gmail.com</div>
        </div>

        <div class="main">
            <div class="navigator">
                <div class="title">Welcome to my blog!</div>
                <div><a href="/auth/signin">登入</a></div>
                <div><a href="/auth/signout">登出</a></div>
                <div><a href="/auth/signup">注册</a></div>
            </div>
            <div class="content">
                <div class="posts"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
