.flash-container {
  position: fixed;
  left: 30px;
  top: 30px;
}

.flash-content {
  text-align: center;
  padding: 10px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.flash-info {
  background-color: mediumspringgreen;
}

.flash-error {
  background-color: orangered;
}

.flash-close:hover {
  cursor: pointer;
}
