.comments-container {
  margin: 50px auto;
  width: 700px;
}

.comments-container > h2 {
  color: #333;
  font-size: 18px;
}

.comments {
  padding-left: 0;
}

.comment {
  margin-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.comment img {
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 10px;
  width: 40px;
}

.comment-meta {
  display: flex;
  flex-direction: row;
}

.comment-author {
  color: #EF6D57;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}

.comment-timestamp {
  font-size: 12px;
  line-height: 1.5;
}

.comment-body {
  margin-top: 14px;
  font-size: 14px;
  color: #333;
  word-break: break-all;
}
