@keyframes flash {
  from {
    left: -200px;
  }
  to {
    left: 50px;
  }
}


.flash-container {
  z-index: 15;
  position: fixed;
  top: 70px;
  left: 50px;
  animation-name: flash;
  animation-duration: 2s;
  animation-play-state: running;
}

.flash-content {
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}

.flash-info {
  background-color: mediumspringgreen;
}

.flash-error {
  background-color: orangered;
}

.flash-close {
  cursor: pointer;
}
