body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

address, cite, dfn, em, var, p, pre, code {
  font-style: normal;
}

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}

ul, ol {
  list-style: none;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset, img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 50px 0 0;
  background-color: #fff;
}

.page-content {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

.common {
  width: 700px;
  margin: 100px auto;
}
