.container {
  width: 100%;
  height: 100%;
}

.dropdown {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .97);
  z-index: 3;
  top: -100%;
  transition: top 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.dropdown-menu {
  text-align: center;
  margin-top: 200px;
}

.dropdown-menu li {
  font-size: 20px;
  display: inline-block;
  margin: 0 20px 20px 0;
}

.dropdown-menu a {
  color: #666;
  letter-spacing: 1px;
}

.dropdown p {
  color: #999;
  font-size: 14px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30px;
}

.page-0 {
  width: 100%;
  height: 100%;
  background-image: url("/images/first-background.png");
}

.header {
  position: absolute;
  top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mu .me {
  color: #333;
}

.me {
  text-transform: none;
  line-height: 1;
  display: inline-block;
  color: #fff;
  font-size: 26px;
  z-index: 4;
}

.menu {
  color: rgb(195, 106, 82);
  text-transform: none;
  line-height: 1;
  font-size: 20px;
  padding: 6px 6px 5px;
  border-radius: 2px;
  cursor: pointer;
  z-index: 4;
  margin-top: -3px;
  background: rgba(255, 255, 255, .9);
}
