.post-block {
  margin: 100px 0;
  height: 440px;
  position: relative;
}

.post-block:before {
  content: '';
  display: block;
  width: 1px;
  height: 590px;
  position: absolute;
  left: 50%;
  background: #eaeaea;
  top: -100px;
  z-index: 0;
}

.post-block:nth-child(odd) {
  text-align: left;
}

.post-block:nth-child(even) {
  text-align: right;
}

.post-block:nth-child(odd) .other {
  left: 660px;
  text-align: left;
}

.post-block:nth-child(even) .other {
  right: 660px;
  text-align: left;
}

.one {
  display: inline-block;
  width: 680px;
  height: 440px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.wall {
  display: block;
  height: 440px;
  width: 680px;
}

.other {
  position: absolute;
  top: 20px;
  border: 1px solid #eaeaea;
  width: 500px;
  height: 400px;
}

.post-preview {
  margin: 80px;
  overflow-wrap: break-word;
  height: 240px;
  overflow: hidden;
}

.post-preview > .markdown-body {
  font-size: 85%;
}
