.markdown {
  text-align: left;
}

.markdown pre, code {
  font-size: 12px;
  line-height: 1.45;
}

.markdown pre {
  background-color: #f6f8fa;
  overflow: auto;
  padding: 16px;
  border-radius: 3px;
}
