.navigator {
  height: 50px;
  border-bottom: 1px solid #f7f7f7;
  background: #fefefe;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navigator-loader {
  position: fixed;
  top: 0;
  width: 0;
  height: 3px;
  z-index: 100;
  background-image: -webkit-linear-gradient(left, #F16F5C 0%, #F16F5C 12.5%, #5B56DD 12.5%, #5B56DD 25%, #E15CED 25%, #E15CED 37.5%, #27E559 37.5%, #27E559 50%, #18C8C9 50%, #18C8C9 62.5%, #DC8987 62.5%, #DC8987 75%, #BB83D6 75%, #BB83D6 87.5%, #E774BD 87.5%, #E774BD 100%);
}

.navigator-icon {
  position: absolute;
}

.navigator-icon > img {
  width: 50px;
}

.navigator-subtitle {
  display: none;
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-top: 16px;
  animation-duration: 5s;
}
