.container {
  padding: 70px 0;
  background-image: url("/images/email-pattern.png");
  background-repeat: repeat;
}

.body {
  display: flex;
  justify-content: center;
}

.form {
}

.field {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 10px 0;
}

.field > label {

}

.field > input {
  margin-left: 10px;
}

.field > textarea {
  margin-left: 10px;
}


.submit {
  border-radius: 30px;
}

.title {
  padding: 5px 15px;
  height: 30px;
  border: 0;
  border-radius: 5px;
}

.content {
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
}

.btn {
  width: 120px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  background-color: lightgreen;
  margin: 0 auto !important;
}

.btn:hover {
  cursor: pointer;
  background-color: limegreen;
}

.post-content {
  margin: auto;
  width: 680px;
  background-color: lightgray;
  padding: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.post-title {
  font-size: 40px;
  text-align: center;
}

.comments {
  margin: 50px 0 0 0;
}

.comment {
  margin: 10px 0;
  border: 1px solid;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 5px;
  padding: 10px;
  border-color: lightgoldenrodyellow;
}
.post-preview {
  margin: 30px 0;
  max-height: 300px;
  overflow: hidden;
}
