.container {
  padding: 70px 0;
  background-image: url("/images/email-pattern.png");
  background-repeat: repeat;
}

.body {
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 10px 0;
}

.field > label {

}

.field > input {
  margin-left: 10px;
}

.field > textarea {
  margin-left: 10px;
}


.submit {
  border-radius: 30px;
}

.title {
  padding: 5px 15px;
  height: 30px;
  border: 0;
  border-radius: 5px;
}

.content {
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
}

.btn {
  width: 120px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  background-color: lightgreen;
  margin: 0 auto !important;
}

.btn:hover {
  cursor: pointer;
  background-color: limegreen;
}

.post-content {
  margin: auto;
  width: 680px;
  background-color: lightgray;
  padding: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

/*.post-title {*/
/*  font-size: 40px;*/
/*  text-align: center;*/
/*}*/

/*.comments {*/
/*  margin: 50px 0 0 0;*/
/*}*/

/*.comment {*/
/*  margin: 10px 0;*/
/*  -webkit-border-radius: 25px;*/
/*  -moz-border-radius: 25px;*/
/*  border-radius: 5px;*/
/*  padding: 10px;*/
/*  border: 1px solid lightgoldenrodyellow;*/
/*}*/

.post-preview {
  margin: 30px 0;
  max-height: 300px;
  overflow: hidden;
}

/*------------------------*/

.post-page {
  background-color: #fff;
}

.page-container {
  max-width: 700px;
  margin: 100px auto;
}

.post-container {
  margin: 40px 0;
  line-height: 2;
}

.post-title {
  font-size: 30px;
  color: #333;
  line-height: 1.3;
  margin: 30px 0;
  font-weight: bold;
}

.post-meta {
  color: #666;
  font-size: 13px;
}

.post-meta > span {
  margin-right: 10px;
}

.post-divider {
  border-top: 1px solid #eee;
  margin: 30px auto;
  width: 80px;
  text-align: center;
}

.post-html-body {
  margin-bottom: 50px;
}

.post-html-body > h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  color: #333;
}

.post-html-body > p {
  margin: 8px 0;
  font-size: 14px;
  line-height: 2;
  color: #333;
}

.post-html-body > p::before {
  content: "\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0";
}

.post-html-body > p::after {
  content: '\A';
  white-space: pre;
}

.comment-form-container {
  margin: 40px 0;
}

.reply-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 16px;
  margin-top: 30px;
}

.comment-form label {
  display: block;
  font-size: 14px;
  color: #444;
  margin: 10px 0 5px;
}

.comment-form textarea {
  display: block;
  vertical-align: top;
  border: 1px solid #e2e2e2;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
}

.comment-form input {
  display: block;
  vertical-align: top;
  border: 1px solid #e2e2e2;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
}

.comment-form input[type="submit"] {
  cursor: pointer;
  letter-spacing: 5px;
  border: 1px solid #dadada;
  width: 140px;
  text-align: center;
  color: #666;
  font-size: 14px;
  padding: 10px 0;
  background: #fff;
  margin: 30px auto 0;
}

.comment-form input[type="submit"]:hover {
  background-color: lightgrey;
}

.comments-container {
  margin: 50px 0 100px 0;
}

.comments-container > h2 {
  color: #333;
  font-size: 18px;
}

.comments {
  padding-left: 0;
}

.comment {
  margin-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.comment img {
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 10px;
  width: 40px;
}

.comment-meta {
  display: flex;
  flex-direction: row;
}

.comment-author {
  color: #EF6D57;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}

.comment-timestamp {
  /*margin: -14px 0 0 54px;*/
  font-size: 12px;
  line-height: 1.5;
}

.comment-body {
  margin-top: 14px;
  font-size: 14px;
  color: #333;
  word-break: break-all;
}
