<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="favicon" rel="shortcut icon" href="favicon.ico"/>
    <title>blog - posts</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/posts.css">
</head>
<body>
<div class="container">
    <div class="">
        <div class="">
            <form method="post" action="" enctype="multipart/form-data">
                <div class="field">
                    <label for="title">标题</label>
                    <input id="title" type="text" name="title">
                </div>
                <div class="field">
                    <label for="body">内容</label>
                    <textarea name="body" id="body" cols="30" rows="10"></textarea>
                </div>
                <div><input type="submit" value="提交"></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
