<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="favicon" rel="shortcut icon" href="/favicon.ico"/>
  <title><%= post.title %></title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/_flash.css">
  <link rel="stylesheet" href="/css/posts.css">
</head>
<body>
<%- include("../components/_flash") %>

<div class="container">
  <div class="body">
    <form class="form" action="" method="post" enctype="multipart/form-data">
      <div class="field">
        <label for="title">标题</label>
        <input class="title" id="title" type="text" name="title" value="<%= post.title %>">
      </div>
      <div class="field">
        <label for="body">内容</label>
        <textarea class="body" name="body" id="body" cols="60" rows="20"><%= post.body %></textarea>
      </div>
      <div class="field">
        <input class="btn" type="submit" value="删除">
      </div>
    </form>
  </div>
</div>

<script src="/js/_flash.js"></script>
</body>
</html>
