<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="favicon" rel="shortcut icon" href="favicon.ico"/>
  <title>全部文章</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/_flash.css">
  <link rel="stylesheet" href="/css/posts.css">
</head>
<body>
<div class="container">
  <%- include("../components/_flash") %>

  <div class="post-content">
    <% posts.forEach(function (post) { %>
      <div class="post-preview" style="border: 1px solid black;">
        <div class="post-title"><a href="/posts/<%= post.id %>"><%= post.title %></a></div>
        <div class="post-body"><%- post.htmlBody %></div>
      </div>
    <% }) %>
  </div>
</div>

<script src="/js/_flash.js"></script>
</body>
</html>
